<?xml version="1.0" encoding="utf-8"?>
<agent>
    <configuration>
        <watcher>
            <type>polling</type>
            <delay>200</delay>
            <target>/Users/hyunje/IdeaProjects/Herring Agent/watching</target>
        </watcher>
        <processor>
            <type>basic</type>
        </processor>
        <parser>
            <type>IISLogParser</type>
            <rowdelimiter>::r::</rowdelimiter>
            <columndelimiter>::c::</columndelimiter>
            <datadelimiter>::d::</datadelimiter>
        </parser>
        <sender>
            <target>
                <host>61.43.139.117</host>
                <port>8989</port>
            </target>
        </sender>
    </configuration>
</agent>